*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
form{
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
form fieldset{
    padding: 0 40px;
    border: 1px solid #ccc);
}
form legend{
    font-family: fantasy
    text-align: center;
    font-size:27px;
    color:rgb(130,130,130);
}
form input[type=text]{
    display: inline-block;
    margin-top:30px;
    width:80%;
    padding: 10px 13px;
}
form input[type=text]:focus{ /* :focus atributo parta tirar foco qundo o mouse selecionar*/
   outline: 0;
}
form select{
   width:calc(80% + 26px);
   margin-top: 30px ;
   padding: 10px 13px;
  display: inline-block;

}
form h2{
    margin-top: 20px;   
}

.radio{
    text-align: left;
    display: inline-block;
    margin-top: 20px;
   
}
.radio span{
    margin-left:13px;
    font-size: 16px;
}
